.date-grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.date-element{
  display: flex; 
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  padding: 8px;
  font-weight: 500;
  cursor: pointer;
}

.date-element:hover{
  background: rgb(109, 107, 107);
  color: white;
}